
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.6px;
}

:root {
  --header-height: 80px;
  --sm-spacing: 8px;
  --md-spacing: 16px;
  --lg-spacing: 32px;
  --xl-spacing: 64px;
  --s-sm: 37.5em;
  --s-md: 48em;
  --s-lg: 64em;
  --s-xl: 75em;

  --lc-blue: rgb(31, 147, 209);
  --lc-green: rgb(29, 176, 82);
  --lc-orange: rgb(220, 137, 39);
  --lc-red: rgb(192, 31, 60);
  --lc-silver: rgb(161, 163, 161);
  --lc-yellow: rgb(244, 212, 21);

  --border-radius: 22px;
  --border-radius-2: 11px;
}

.light {
  --bg: rgb(255, 255, 255);
  --bg2: rgb(250, 250, 250);
  --bg3: rgb(240, 240, 240);
  --text: rgb(0, 0, 0);
  --text2: rgb(68, 68, 68);
  --box-shadow: 0 0 5px rgba(23, 24, 24, 0.05), 0 1px 2px rgba(0, 0, 0, 0.15);
  --box-shadow-2: 0 0 7px rgba(23, 24, 24, 0.1), 0 2px 4px rgba(0, 0, 0, 0.25);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
